In [1]:
import pandas as pd
import numpy as np

#create base dataframe
df = pd.read_csv("purchase_data.csv").rename(columns=lambda s: s.lower().replace(" ", "_"))

In [2]:
#player count
df_sn = df["sn"].value_counts()
df_sn.count()

576

In [22]:
# purchasing anaytics

In [4]:
# unique number of items
df_items = df["item_id"].value_counts()
df_items.count()

183

In [5]:
# average price of items
df_price = df["price"]
df_price.mean()

3.0509871794871795

In [6]:
# number of purchases
len(df)

780

In [7]:
# total revenue
df_price.sum()

2379.77

In [24]:
df

,purchase_id,sn,age,gender,item_id,item_name,price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [45]:
# gender demographics
gender_demo_df = df["gender"].value_counts().to_frame().rename(columns = {"gender":"count"})
gender_demo_df['percentage'] = df["gender"].value_counts("Male")
gender_demo_df

                       count  percentage
Male                     652    0.835897
Female                   113    0.144872
Other / Non-Disclosed     15    0.019231