In [2]:
#import dependencies
import pandas as pd
import numpy as np

#create base dataframe
df = pd.read_csv("purchase_data.csv").rename(columns=lambda s: s.lower().replace(" ", "_"))

<h3>Player Count and Purchasing Analysis

In [3]:
summary_df = pd.DataFrame({ 
    "player_count": [df["sn"].value_counts().count()],
    "item_count": [df["item_id"].value_counts().count()],
    "avg_price": [df["price"].mean()],
    "total_purchases": [len(df)],
    "total_revenue": [df["price"].sum()]
})
summary_df

   player_count  item_count  avg_price  total_purchases  total_revenue
0           576         183   3.050987              780        2379.77

<h3>Gender Demographics

In [3]:
gender_df = pd.DataFrame({
    "users": df.groupby("gender")["sn"].nunique().sort_values(),
    "percentage": df["gender"].value_counts("Male")*100
})
gender_df

                       users  percentage
Female                    81   14.487179
Male                     484   83.589744
Other / Non-Disclosed     11    1.923077

<h3>Purchasing Analysis (Gender)

In [4]:
purch_analysis_df = pd.DataFrame({
    "purchase_count": df["gender"].value_counts(),
    "avg_purchase": df.groupby(df["gender"])["price"].mean(),
    "total_purchase": df.groupby(df["gender"])["price"].sum(),
    "avg_purchase_by_user": df.groupby(df["gender"])["price"].sum() / df.groupby(df["gender"])["sn"].nunique()
})
purch_analysis_df

,purchase_count,avg_purchase,total_purchase,avg_purchase_by_user
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

<h3>Age Demographics

In [9]:
df["age_ranges"] = pd.cut(df["age"], [5,10,15,20, 25, 30, 35, 40, 45, 50],\
    labels=["5-9 Years Old","10-14 Years Old","15-19 Years Old","20-24 Years Old",\
            "25-29 Years Old","30-34 Years Old","35-39 Years Old","40-44 Years Old","45-49 Years Old"],\
    right=False)
agedemo_df = pd.DataFrame({
    "purchase_count": df["age_ranges"].value_counts(),
    "avg_purchase": df.groupby(df["age_ranges"])["price"].mean(),
    "total_purchase": df.groupby(df["age_ranges"])["price"].sum(),
    "avg_purchase_by_user": df.groupby(df["age_ranges"])["price"].sum() / df.groupby(df["age_ranges"])["sn"].nunique()
})
agedemo_df

,purchase_count,avg_purchase,total_purchase,avg_purchase_by_user
5-9 Years Old,23,3.353478,77.13,4.537059
10-14 Years Old,28,2.956429,82.78,3.762727
15-19 Years Old,136,3.035956,412.89,3.858785
20-24 Years Old,365,3.052219,1114.06,4.318062
25-29 Years Old,101,2.900990,293.00,3.805195
30-34 Years Old,73,2.931507,214.00,4.115385
35-39 Years Old,41,3.601707,147.67,4.763548
40-44 Years Old,12,3.045000,36.54,3.321818
45-49 Years Old,1,1.700000,1.70,1.700000

<h3>Top Spenders

In [6]:
top5spenders_df = df["sn"].value_counts().to_frame().rename(columns = {"sn":"purchase_count"}).head(5)
top5spenders_df["avg_purchase"] = df.groupby(df["sn"])["price"].mean()
top5spenders_df["total_purchase"] = df.groupby(df["sn"])["price"].sum()
top5spenders_df

              purchase_count  avg_purchase  total_purchase
Lisosia93                  5      3.792000           18.96
Idastidru52                4      3.862500           15.45
Iral74                     4      3.405000           13.62
Iskadarya95                3      4.366667           13.10
Lassilsala30               3      3.836667           11.51

<h3>Most Popular Items

In [7]:
top5items_df = df["item_id"].value_counts().to_frame().rename(columns = {"item_id":"purchase_count"}).head(5)
top5items_df["avg_purchase"] = df.groupby(df["item_id"])["price"].mean()
top5items_df["total_purchase_value"] = df.groupby(df["item_id"])["price"].sum()
top5items_df.insert(0,"item_name",df["item_name"])
top5items_df

,item_name,purchase_count,avg_purchase,total_purchase
178,"Despair, Favor of Due Diligence",12,4.23,50.76
82,Azurewrath,9,4.90,44.10
108,Malificent Bag,9,3.53,31.77
145,Hopeless Ebon Dualblade,9,4.58,41.22
92,"Betrayal, Whisper of Grieving Widows",8,4.88,39.04

<h3>Most Profitable Items

In [29]:
top5rev_df = df.groupby(df["item_id"])["price"].sum().nlargest(5).to_frame().drop("price", axis=1)
top5rev_df["purchase_count"] = df["item_id"].value_counts()
top5rev_df["item_price"] = df.groupby(df["item_id"])["price"].mean()
top5rev_df["total_purchase_value"] = df.groupby(df["item_id"])["price"].sum().nlargest(5).to_frame()
top5rev_df.insert(0,"item_name",df["item_name"])
top5rev_df

,item_name,purchase_count,item_price,total_purchase_value
item_id,,,,
178,"Despair, Favor of Due Diligence",12,4.23,50.76
82,Azurewrath,9,4.90,44.10
145,Hopeless Ebon Dualblade,9,4.58,41.22
92,"Betrayal, Whisper of Grieving Widows",8,4.88,39.04
103,"Thorn, Satchel of Dark Souls",8,4.35,34.80

<h3>Observations

1/ The game has significantly more male players.
2/ On average female players spend more money than male players.
3/ The most frequently purchased item - Despair, Favor of Due Diligence - is also the most frequently purchased.