In [1]:
import pandas as pd
import numpy as np

#create base dataframe
df = pd.read_csv("purchase_data.csv").rename(columns=lambda s: s.lower().replace(" ", "_"))

In [2]:
#player count
player_count = df["sn"].value_counts().count()
player_count

576

In [3]:
# purchasing anaytics

In [4]:
# unique number of items
item_count = df["item_id"].value_counts().count()
item_count

183

In [5]:
# average price of items
avg_price = df["price"].mean()
avg_price

3.0509871794871795

In [6]:
# number of purchases
total_purchases = len(df)
total_purchases

780

In [8]:
# total revenue
df["price"].sum()

2379.77

In [9]:
# gender demographics
gender_demo_df = df["gender"].value_counts().to_frame().rename(columns = {"gender":"count"})
gender_demo_df['percentage'] = df["gender"].value_counts("Male")
gender_demo_df

                       count  percentage
Male                     652    0.835897
Female                   113    0.144872
Other / Non-Disclosed     15    0.019231

In [10]:
df

,purchase_id,sn,age,gender,item_id,item_name,price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [23]:
# purchasing analysis (gender)
df_purchanalysis = df["gender"].value_counts().to_frame().rename(columns = {"gender":"purchase_count"})
df_purchanalysis["avg_purchase"] = df.groupby(df["gender"])["price"].mean()
df_purchanalysis["total_purchase"] = df.groupby(df["gender"])["price"].sum()
avg_purch = df.groupby(df["gender"])["price"].sum() / df.groupby(df["gender"])["sn"].nunique()
df_purchanalysis["avg_total_purchase_by_person"] = avg_purch
df_purchanalysis

,purchase_count,avg_purchase,total_purchase,avg_total_purchase_by_person
Male,652,3.017853,1967.64,4.065372
Female,113,3.203009,361.94,4.468395
Other / Non-Disclosed,15,3.346000,50.19,4.562727