In [1]:
import pandas as pd
import numpy as np

#create base dataframe
df = pd.read_csv("purchase_data.csv").rename(columns=lambda s: s.lower().replace(" ", "_"))

In [2]:
#player count
player_count = df["sn"].value_counts().count()
player_count

576

In [3]:
# purchasing anaytics

In [4]:
# unique number of items
item_count = df["item_id"].value_counts().count()
item_count

183

In [5]:
# average price of items
avg_price = df["price"].mean()
avg_price

3.0509871794871795

In [6]:
# number of purchases
total_purchases = len(df)
total_purchases

780

In [7]:
# total revenue
df["price"].sum()

2379.77

In [8]:
# gender demographics
gender_demo_df = df["gender"].value_counts().to_frame().rename(columns = {"gender":"count"})
gender_demo_df['percentage'] = df["gender"].value_counts("Male")
gender_demo_df

                       count  percentage
Male                     652    0.835897
Female                   113    0.144872
Other / Non-Disclosed     15    0.019231

In [134]:
# purchasing analysis (gender)
purchanalysis_df = df["gender"].value_counts().to_frame().rename(columns = {"gender":"purchase_count"})
purchanalysis_df["avg_purchase"] = df.groupby(df["gender"])["price"].mean()
purchanalysis_df["total_purchase"] = df.groupby(df["gender"])["price"].sum()
avg_purch = df.groupby(df["gender"])["price"].sum() / df.groupby(df["gender"])["sn"].nunique()
purchanalysis_df["avg_total_purchase_by_person"] = avg_purch
purchanalysis_df

,purchase_count,avg_purchase,total_purchase,avg_total_purchase_by_person
Male,652,3.017853,1967.64,4.065372
Female,113,3.203009,361.94,4.468395
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [141]:
# age demographics

In [115]:
#placeholder

In [114]:
#placeholder

In [138]:
# top spenders
top5spenders_df = df["sn"].value_counts().to_frame().rename(columns = {"sn":"purchase_count"}).head(5)
top5spenders_df["avg_purchase"] = df.groupby(df["sn"])["price"].mean()
top5spenders_df["total_purchase"] = df.groupby(df["sn"])["price"].sum()
top5spenders_df

             purchase_count  avg_purchase  total_purchase
Lisosia93                 5      3.792000           18.96
Iral74                    4      3.405000           13.62
Idastidru52               4      3.862500           15.45
Zontibe81                 3      2.676667            8.03
Phyali88                  3      3.433333           10.30

In [168]:
# most popular items
top5items_df = df["item_id"].value_counts().to_frame().rename(columns = {"item_id":"purchase_count"}).head(5)
top5items_df["avg_purchase"] = df.groupby(df["item_id"])["price"].mean()
top5items_df["total_purchase"] = df.groupby(df["item_id"])["price"].sum()
top5items_df.insert(0,"item_name",df["item_name"])
top5items_df

,item_name,purchase_count,avg_purchase,total_purchase
178,"Despair, Favor of Due Diligence",12,4.23,50.76
82,Azurewrath,9,4.90,44.10
108,Malificent Bag,9,3.53,31.77
145,Hopeless Ebon Dualblade,9,4.58,41.22
92,"Betrayal, Whisper of Grieving Widows",8,4.88,39.04